<%= link_to 'Trở về', :back %>
<%= form_with model: [:admin, @event] do |form| %>
  <div>
    <%= form.text_field :title, placeholder: 'Tiêu đề', required: true %>
  </div>
  <div>
    <%= form.text_field :place, placeholder: 'Địa điểm', required: true %>
  </div>
  <div>
    <%= form.text_area :note, placeholder: 'Ghi chú' %>
  </div>
  <div>
    <p>Thời gian</p>
    <%= form.date_field :open_date, required: true %> | <%= form.time_field :start_time, required: true %> ~ <%= form.time_field :end_time, required: true %>
  </div>
  <br>
  <div>
    <%= form.submit 'OK' %>
  </div>
<% end %>
