<h1>Danh sách hoạt động của clb</h1>
<% @events.each do |event| %>
  <div class="event-item card mb-3">
    <div class="card-body">
      <h5 class="card-title"><%= event.title %></h5>
      <h6 class="card-subtitle mb-2 text-muted event-item-place">
        <i class="bi bi-map"></i><%= event.place %>
        <%= link_to "https://www.google.com/maps/search/?api=1&query=#{event.place}", target: '_blank' do %>
          <i class="bi bi-box-arrow-up-right"></i>
        <% end %>
      </h6>
      <h6 class="card-subtitle mb-2 text-muted"><i class="bi bi-calendar-event"></i><%= "#{event.open_date} #{event.start_time.strftime('%H:%M')} ~ #{event.end_time.strftime('%H:%M')}" %></h6>
      <p class="card-text"><%= event.note %></p>
      <%= link_to 'Đăng ký', event %>
    </div>
  </div>
<% end %>
